.commit {
    background-color: rgb(43, 43, 43);
    display: flex;
    color: white;
    height: 80px;
}

.commit div {
    margin: auto;
}

.row p {
    margin-left: 15px;
}

.row div img {
    margin: 10px 0px 0px 10px;
}

.btn-custom-light {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 0.5px;
}

.btn-custom-light:hover {
    background-color: black;
    color: white;
}

#spcae_top {
    margin-top: 4%;
}